:root{
    --background: rgb(38, 47, 75);
    --background-calc: rgb(27, 34, 53);
    --background-numbers :rgb(18, 23, 37);
    --blue-grey: rgb(102, 139, 173);
    --rose: rgb(243, 245, 196) ;
    --font: rgb(88, 88, 88);
    --red-buttons: rgb(219, 62, 62);
}